  @import url('https://fonts.googleapis.com/css2?family=Cousine&family=Fraunces:wght@100&family=Mallanna&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Cousine&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Cousine&family=Josefin+Sans:wght@100&display=swap');
* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a {
    text-decoration: none;
    color: #ffffff;
}

body {
    margin: 0%;
}

/*Formatação da navbar*/
.header {
    width: 100%;
    background-color: #46472a;
    border-bottom: 1px solid #ffffff;
}

li{
    font-family: 'Fraunces', serif;
    font-size: 18pt;
    margin-left: 50px;
}

/*Cor do titulo vinTech*/

/*Div centralizadora - formatação global*/
.container {
    display: flex;
    width: 80%;
    margin: auto;
}

/*Formatação do header container*/
.header .container {
    justify-content: space-between;
    align-items: center;
}

/*Formatação da navbar*/
.navbar {
    color: #ffffff;
    list-style: none;
    display: flex;
    width: 700px;
    justify-content: space-around;
}

/*Formatação do banner*/
.banner {
    width: 100%;
    height: 100vh;
    background-image: url(../img/HomeAgoraVai.png);
    background-attachment: fixed;
    background-size:cover;
    
}

.banner .container {
    justify-content: center;
    align-items: center;
    height: 100%;
    color: rgb(255, 250, 206);
    flex-direction: column;
}

.banner h1{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 98px;
    margin: 0;
}

.banner p{
    font-family: 'Comfortaa', cursive;
    font-size: 32px;

}

/*Inicio botão entrar*/
.entrar{
    background-color: #ffffff;
    width: 20%;
    height: 8%;
    border: none;
    color: #C8A287;
    font-size: 35px;
}

/*Final botão entrar*/
/*Final do banner*/

/*Inicio tela saiba mais*/
.saibaMais{
    width: 100%;
    height: 100vh;
    background-image: url(../img/About.png);
    background-attachment: fixed;
    background-size:cover;
    display: flex;
}

.saibaMais .container{
    justify-content: space-between;
    height: 100%;
    width: 98%;
}

.textoCol1{
    text-align: left;
}

#item1{
    color: #5105BD;
    padding-top: 70px;
    font-size: 34px;
    width: 750px;
}

#item2{
    font-size: 34px;
    font-weight: 400;
    padding-top: 30px;
    width: 750px;
}

.textoCol2{
    text-align: left;
}

#item3{
    font-size: 34px;
    font-weight: 400;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 790px;
}

#item4{
    font-size: 34px;
    font-weight: 400;
    width: 750px;
    padding-left: 30px;
    border: 3px solid #5105BD;
    border-radius: 0px 50px;
}

/*Final tela saiba mais*/

/* Começo simule aqui */
.simule{
    display: flex;
    height: 100%;
    width: 100%;
    background-color: #32a7b1;
}

.simule .container{
    justify-content: space-between;
    height: 100%;
    width: 98%; 
}

.simule .txt_simule{
    text-align: center;
    height: 100vh;
    width: 60%;
    background-color: #5105BD;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.simule .txt_simule h1{
    text-align: right;
    margin-right: 60px;
    font-size: 80px;
}

.simule .txt_simule{
    text-align: center;
    font-size: 30px;
}

.simule p{
    width: 600px;
}

.simule span{
    width: 600px;
    text-align: left;
}

.simule .input{
    background-color: #ffffff;
    display: flex;
    width: 610px;
    height: 50px;
    border-radius: 100px;
    justify-content: space-between;
}

.simule input{
    border: 0px;
    border-radius: 100px;
    width: 660px;
    height: 48px;
    font-size: 35px;
}

.simule .quadrado{
    background-color: gray;
    border-radius: 20px;
    height: 50px;
    width: 60px;
    font-size: 25px;
    text-align: center;
    line-height: 50px;
}

.simule button{
    height: 100px;
    width: 300px;
    border-radius: 100px;
    border: 3px solid black;
    font-size: 30px;
}
/* Final simule aqui */

/* Começo Feito para você */

.feito_voce{
    height: 100vh;
    width: 100%;
    background-color: #6932b1;
}

.feito_voce .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.feito_voce .texto{
    text-align: center;
}

.feito_voce .texto h1{
    font-size: 50px;
}

.feito_voce .texto span{
    font-size: 30px;
}


.feito_voce .Ncards{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.feito_voce .card{
    text-align: center;
    height: 500px;
    width: 300px;
    background-color: #C8A287;
}

.feito_voce h2{
    font-size: 50px;
}

.feito_voce p{
    font-size: 30px;
}

/*Final social*/
/*Inicio*/
.footer .container {
    width: 100%;
    height: 100vh;
    background-color: #32a7b1;
    justify-content: center;
}